@page
@model ClevInvest.Pages.Investments.ArticlePage

@{
    ViewData["Title"] = "Article";
    var article = Model.Article;
    var photoPath = $"/images/Articles/{article.PhotoPath ?? "noimage.jpg"}";
    var isAdmin = User.Claims.FirstOrDefault(x => x.Type == "role")?.Value == "Admin";
}


<div class="row no-gutters">
    <div class="pageText col-md-8 d-flex align-items-center">
        <h2 class="ml-2">@article.Title</h2>
    </div>

    <div class="col-md-3 offset-1">
        <div class="d-inline-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
            <p class="d-inline pageText labelForIcons">@article.Date.ToString("d")</p>
        </div>
        <div class="d-block align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg>
            <p class="d-inline pageText labelForIcons">Просмотры: @article.Views</p>
        </div>
    </div>


    <div class="row offset-1 no-gutters mt-4">
        <div class="col-md-10">
            <img src="@photoPath" alt="articleImage" class="imageStyle img-fluid" asp-append-version="true">
        </div>
    </div>

    <div class="row col-md-12 pageText myBorderColor mt-3 ml-0">
        <div id="descText">
            <p id="artId" class="d-none">@article.Id</p>
            <div class="mt-3" id="artDesc">
                @Html.Raw(article.Description)
            </div>

            @if (isAdmin)
            {
                <button type="button" class="btn btn-primary" onclick="openEdit()">Редактировать</button>
            }
        </div>
        @if (isAdmin)
        {
            <form id="editForm" class="d-none w-100 pageText mt-2" method="post">
                <button type="submit" class="btn btn-success mr-2 buttonWidth" onclick="editDescription()">
                    Сохранить
                </button>
                <button type="button" class="btn btn-danger buttonWidth" onclick="closeEdit()">Отмена</button>
                <textarea id="editedDescr" class="bg-transparent mt-4 textareaBorder pt-1" name="description" type="text">
            </textarea>
            </form>
        }
    </div>

    <div class="row col-md-12 no-gutters mt-5 pageText myBorderColor">
        <section class="col-md-10">
            <div>
                <h4>Поделитесь своим мнением</h4>
                <form id="addComment" class="d-flex flex-wrap mt-2 justify-content-end" method="post" asp-page-handler="Comment" asp-route-id="@article.Id">
                    <textarea id="commentMessage" class="bg-transparent mt-4 textareaBorder pt-1" name="message" type="text"></textarea>
                    <button type="submit" class="btn btn-success m-2 buttonWidth" onclick="addComent()">
                        Отправить
                    </button>
                    <button type="button" class="btn btn-danger m-2 buttonWidth" onclick="CancelComment()">Отмена</button>
                </form>
            </div>
        </section>
        <h4 class="col-md-12 mt-5 myBorderColor">Комментарии пользователей</h4>
        @foreach (var comment in Model.CommentsList)
        {
            var userPhotoPath = $"/images/avatars/{comment.User.UserPhoto ?? "noimage.png"}";
            <div class="row col-md-12 mt-3">
                <div class="col-md-1 pr-0">
                    <img src="@userPhotoPath" class="img-fluid userCommentAvatar" alt="user-avatar" asp-append-version="true">
                </div>
                <div class="col-md-2 pl-1 pr-2">
                    <h5>@comment.User.UserName</h5>
                    <div class="d-inline-flex align-items-center mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                        <p class="d-inline pageText labelForIcons">@comment.Date.ToString("d")</p>
                    </div>
                </div>
                <div class="col-md-9 commentBorder">
                    @comment.Message
                </div>
            </div>
        }
    </div>
</div>